<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>demo</title>
    <link rel="stylesheet" href="./css/iview.css">
    <link rel="stylesheet" href="./css/fonts/vicon.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/vue.js"></script>
    <script src="./js/iview.min.js"></script>
</head>

<body>
    <div id="app">

        <div class="g-layout">
            <!--全局顶栏-->
            <header class="g-header">
                我是代码/设计切换头
            </header>
            <!--配置主体-->
            <main class="g-body">
                <!--左栏-->
                <aside class="g-leftBar">
                    <div class="m-configBar">
                        <!--子边栏-->
                        <aside class="bar-hd">
                            <ul class="switch">
                                <li class="fn-btn">
                                    <tooltip content="事件" placement="left">
                                        <icon custom="" size="20"></icon>
                                    </tooltip>
                                </li>
                                <li class="fn-btn">
                                    <tooltip content="格式化" placement="left">
                                        <icon type="ios-play" size="20"></icon>
                                    </tooltip>
                                </li>
                                <li class="sep"></li>
                                <li class="fn-btn">
                                    <tooltip content="格式化" placement="left">
                                        <icon type="ios-play" size="20"></icon>
                                    </tooltip>
                                </li>
                            </ul>
                            <ul class="others">
                                <li class="fn-btn">
                                    <dropdown>
                                        <icon type="ios-play" size="20"></icon>
                                         <dropdown-menu slot="list">
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                         </dropdown-menu>
                                    </dropdown>
                                </li>
                                <li class="fn-btn">
                                    <tooltip content="格式化" placement="left">
                                        <icon type="ios-play" size="20"></icon>
                                    </tooltip>
                                </li>
                            </ul>
                        </aside>
                        <!--边栏展开信息-->
                        <div class="bar-bd">
                            
                        </div>
                    </div>
                </aside>
                 <!--舞台-->
                <div class="g-cont">
                    <div class="m-codeView">
                        我是代码区域
                        <!--状态栏{-->
                        <div class="m-statusBar" >
                            <section class="hd">
                                <tooltip content="格式化" placement="top" >
                                    <a class="fn-btn"><icon custom="vicon ico-daimazhushi" size="16"></icon></a>
                                </tooltip>
                                <tooltip content="注释/取消注释" placement="top">
                                    <a class="fn-btn"><icon custom="vicon ico-zhushi" size="16"></icon></a>
                                </tooltip>
                                <tooltip content="自动换行" placement="top">
                                    <a class="fn-btn"><icon custom="vicon ico-wordBreak" size="16"></icon></a>
                                </tooltip>

                                <i class="sep"></i>

                                <tooltip content="代码模板" placement="top">
                                    <a class="fn-btn"><icon custom="vicon ico-codetpl" size="16"></icon></a>
                                </tooltip>
                                <dropdown placement="top">
                                    <a class="fn-btn"><icon custom="vicon ico-insert" size="14"></icon></a>
                                    <dropdown-menu slot="list">
                                        <dropdown-item>插入构件资源</dropdown-item>
                                        <dropdown-item>拔出</dropdown-item>
                                    </dropdown-menu>
                                </dropdown>
                            </section>
                            <section class="ft">
                                <tooltip content="代码模板" placement="top">
                                    <a class="prompt s-error">
                                        <icon type="ios-close-circle-outline" size="14"></icon> 
                                        32
                                    </a>
                                </tooltip>
                                <tooltip content="代码模板" placement="top">
                                    <a class="prompt s-warn">
                                        <icon type="ios-warning-outline" size="14"></icon>
                                        32
                                    </a>
                                </tooltip>
                                <i class="sep"></i>
                                <span>行 27 ,列 24 </span>
                            </section>
                        </div>
                        <!--end}-->
                    </div>
                </div>
                 <!--右栏-->
                <aside class="g-rightBar">
                    <div class="m-configBar">
                        <!--子边栏-->
                        <aside class="bar-hd">
                            <ul class="switch">
                                <li class="fn-btn">
                                    <tooltip content="事件" placement="left">
                                        <icon custom="vicon ico-event" size="21"></icon>
                                    </tooltip>
                                </li>
                                <li class="fn-btn">
                                    <tooltip content="数据" placement="left">
                                        <icon custom="vicon ico-data" size="16"></icon>
                                    </tooltip>
                                </li>
                                <li class="sep"></li>
                                <li class="fn-btn">
                                    <tooltip content="预览" placement="left">
                                        <icon custom="vicon ico-preview" size="20"></icon>
                                    </tooltip>
                                </li>
                            </ul>
                            <ul class="others">
                                <li class="fn-btn">
                                    <dropdown>
                                        <icon custom="vicon ico-setting" size="20"></icon>
                                         <dropdown-menu slot="list">
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                             <dropdown-item>菜单</dropdown-item>
                                         </dropdown-menu>
                                    </dropdown>
                                </li>
                            </ul>
                        </aside>
                        <!--边栏展开信息-->
                        <div class="bar-bd">
                            <header>
                                <section class="itemTitle">
                                    <h3>事件</h3>
                                    <span>
                                        <icon type="ios-close" size="12"></icon>
                                        <icon type="ios-close" size="12"></icon>
                                    </span>
                                </section>
                                <section :class="itemSearch">
                                    <i-button icon="md-add" size="small"  class="btn">添加事件</i-button>
                                    <i-input search placeholder="搜索" size="small" class="input"  @on-focus="focus"  @on-search="search" @on-blur="blured"></i-input>
                                </section>
                            </header>
                            <div style="height:100%;overflow:auto">
                                <div class="cardView">
                                    <div class="cardView-hd">
                                        <h6 class="title">
                                            <span>事件5</span>
                                            <poptip v-model="visible1" placement="bottom-start" width="120">
                                                <a href="#" title="修改名称" class="edit">
                                                    <icon type="ios-create-outline" size="18"></icon>
                                                </a>
                                                <div slot="title">修改名称</div>
                                                <div slot="content" >
                                                    <i-input size="small"></i-input><br/>
                                                    <i-button type="primary" @click="close1" size="small">完成</i-button>
                                                </div>
                                            </poptip>
                                        </h6>
                                        <icon type="ios-trash-outline" size="18" class="extra" title="删除事件"></icon>
                                    </div>
                                    <div class="cardView-bd">
                                        <i-form :label-width="60">
                                            <form-item label="事件编码">
                                                <i-input size="small"></i-input>
                                            </form-item>
                                            <form-item label="处理方法">
                                                <i-input size="small" readonly>
                                                    <icon slot="append" type="md-open"></icon>
                                                </i-input>
                                            </form-item>
                                            <form-item label="参数映射">
                                                <i-input size="small" readonly>
                                                    <icon slot="append" type="md-open"></icon>
                                                </i-input>
                                            </form-item>
                                        </i-form>
                                    </div>
                                </div>
                                <div class="cardView">
                                    <div class="cardView-hd">
                                        <h6 class="title">
                                            <span>事件5</span>
                                            <poptip v-model="visible2" placement="bottom-start" width="120">
                                                <a href="#" title="修改名称" class="edit">
                                                    <icon type="ios-create-outline" size="18"></icon>
                                                </a>
                                                <div slot="title">修改名称</div>
                                                <div slot="content">
                                                    <i-input size="small"></i-input><br/>
                                                    <i-button type="primary" @click="close2" size="small">完成</i-button>
                                                </div>
                                            </poptip>
                                        </h6>
                                    </div>
                                    <div class="cardView-bd">
                                        <i-form :label-width="60">
                                            <form-item label="事件编码">
                                                <span>1231454646567</span>
                                                <a @click="copied" title="复制编码"><icon type="md-copy" size="16"></icon></a>
                                            </form-item>
                                            <form-item label="处理方法">
                                                <i-input size="small" readonly>
                                                    <icon slot="append" type="md-open"></icon>
                                                </i-input>
                                            </form-item>
                                            <form-item label="参数映射">
                                                <i-input size="small" readonly>
                                                    <icon slot="append" type="md-open"></icon>
                                                </i-input>
                                            </form-item>
                                        </i-form>
                                    </div>
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </aside>
            </main>
            <!--全局状态栏-->
            <footer class="g-footer" style="display:none;">
                我是底部状态栏:备用
            </footer>
        </div>
    </div>
    <script type="text/javascript">
    new Vue({
        "el": "#app",
        "data": {
            visible1:false,
            visible2:false,
            itemSearch: 'itemTools',
            aa:0
        },
        "methods":{
            close1:function(){
                this.visible1 = false;
            },
            close2:function(){
                this.visible2 = false;
            },
            copied:function(){
                this.$Message.success('已复制');
            },
            focus:function(){
                this.itemSearch = 'itemTools s-searching';
            },
            search:function(){
                var _this = this;
                if(this.aa == 0){
                    this.aa=1;
                }else if (this.aa == 1) {
                    this.aa = 2;
                    setTimeout(function(){
                        _this.aa = 0
                    });
                }
                
                 
                
            },
            blured:function(){
                if(this.aa!=2){
                    this.itemSearch = 'itemTools';
                }
            }
        }
    });
    </script>
</body>

</html>